<!--The content below is only a placeholder and can be replaced.-->

  <h1 class="center-middle">Seidita Salvatore</h1>
  <div class="col-sm-6 col-sm-offset-3 center-middle">
    <img class="my-image" src="../assets/me.jpg" alt="image of me">
  </div>

  <div class="col-sm-6 col-sm-offset-3 center-middle">

    <h3>
      I graduated in April 2017 in Information Technology, studying different subjects like programming languages, computer networks and databases.
      Throughout my previous experience I now have good knowledge of Java and C programming Languages, Networks(CCNA Certifications) and databases. I have worked with Cisco devices.
      I have undertaken practical work experience with Windows, Mac and Linux devices.
      I am able to work with teams of software developer and get hands-on experience of working with a variety of different technologies.
      I love working as part of a team to make sure that customers are happy and that deadlines are met.
    </h3>

  </div>
