/* You can add global styles to this file, and also import other style files */
body {
  background-color: #676767;
  color: white;
  font-family: cursive;
  background-image: url("./assets/index-bg.png");
}
